



<form action="/uploadFiles" method="post" enctype="multipart/form-data">
    <h2>多图上传</h2>
    <input type="file" name="file">
    <input type="file" name="file">
    <!-- <input type="input" name="name">
    <input type="input" name = "Shop"> -->
    <input type="submit" value="提交">
</form>